  [data-theme='compact'] .ant-advanced-search-form,
  .ant-advanced-search-form {
    padding: 24px;
    background: #ffffff;

  }

 [data-theme='compact'] .ant-advanced-search-form .ant-form-item,
 .ant-advanced-search-form .ant-form-item {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   flex-basis: auto;
 }

 [data-theme='compact'] .ant-advanced-search-form .ant-form-item-control-wrapper,
 .ant-advanced-search-form .ant-form-item-control-wrapper {
   flex: 1;
 }


  .ant-collapse-header{
   font-size: large;
 }


.secondary-inputs .ant-select-selector {
  outline: 0!important;
  border-width: 0 0 2px!important;
  border-color: @secondary-color;
  box-shadow: none;

}

.secondary-inputs .ant-select-selector:focus, .secondary-inputs .ant-select-selector:hover {
  border-color: @secondary-color!important;
}

.secondary-inputs .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
  box-shadow: none!important;
  border-right-width: 0px!important;
  border-color: @secondary-color;
}

.secondary-inputs .ant-input:focus, .secondary-inputs .ant-input:hover {
  border-color: @secondary-color!important;
}
